@charset "ISO-8859-1";
body{
	background-image: url("https://placeimg.com/640/480/nature");
	background-size: cover;
}

.flex-container{
	
	margin-top: 5vh;
	
	display: flex;	
	color: white;
	
	height: 80vh;
	width: 100vw;
	
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
}

.inner-flex-container{
	display: flex;	
	
	
	border-radius: 2.5%;
	width: 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.flex-item{
	flex-grow: 0.8;
	background-color: rgba(204, 204, 214, 0.3);
	vertical-align: middle;
	text-align: center;
	height: 100%;
}